body{
  background:#2980b9;
}

ol{
  line-height:150%;
  font-size:19px;
  max-width:72ch;
  font-family:Open serif;
  font-weight:800;
  padding:5px;
  margin-left:auto;
  margin-right:auto;
}
input{
  margin-bottom:5px;
}


h2{
  text-align:center;
  margin-bottom:5px;
  padding-top:10px;
  font-weight:800;
}
p{
  max-width:90ch;
}

.jumbotron{
  padding:0 0 10px 0;

}
.jumbotron:hover{
  border-left:10px solid #3498db;
  transition:1.0s;
}
.theStuff{
  width:60%;
  margin:auto;

}

h3{
  text-align:center;
  font-family: Open serif;
  font-weight:800;
  border:0px solid black;
  background:#ecf0f1;
  width:30%;
  margin:auto;
  border-radius:30px;
}


@media screen and (max-width: 480px) {
  img{
    width:300px;
  }
  h3{
  width:80%;
}
}

@media screen and (min-width: 480px) {

  h3{
  width:50%;
}
}
