<% include ../partials/header %>

<div class='container'>
<a href="https://en.wikipedia.org/wiki/Special:Random" target='_blank'><img src="http://www.userlogos.org/files/logos/sjdvda/Wikipedia2.png" class='center-block' alt="Wikipedia"></a>
<div class='theStuff'>
<input type="text" placeholder='Keywords' class='form-control keyWords'>
<button class='btn btn-success form-control'>SUBMIT</button>
</div>
<div class='searches'>
<ol id='lists'>


</ol>
</div>
<h3>Coded By Boyd Jenkins</h3>
<br>
</div>

<% include ../partials/footer %>
